.bell-red {
    color: #d63031;
}

.bell-yellow {
    color: #fdcb6e;
}

.bell-green {
    color: #00b894;
}

#bell {
    width: 3vmin;
    min-width: 1rem;
    height: auto;
    -webkit-animation: ring 1.5s infinite ease-in-out;
    animation: ring 1.5s infinite ease-in-out;
}

#clapper-group {
    transform-origin: top center;
    -webkit-animation: ring-clapper 1.5s infinite linear;
    animation: ring-clapper 1.5s infinite linear;
}

@-webkit-keyframes ring {
    0% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

@keyframes ring {
    0% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(-30deg);
    }
}

@-webkit-keyframes ring-clapper {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(20deg);
    }

    70% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes ring-clapper {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(20deg);
    }

    70% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}